@model ClothingWebApp.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<br />

    @foreach (var category in Model.Categories)
    {
        <div class="row" id="menu-wrapper">
            <partial name="_ThumbnailAreaPartial" model="@Model.MenuItems.Where(x => x.Category.Name.Equals(category.Name))" />
        </div>
    }

</div>
