@model ClothingWebApp.Models.SubCategory

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info"> Details </h2>
<br />

<div class="container row">
    <div class="col-8 border-right">
        <form asp-action="Details">
            <field disable>
                <div class="form-group">
                    <label asp-for="Name" class="col-form-label">Name</label>
                    <input asp-for="Name" class="form-control">

                </div>

                <div class="form-group">
                    <label asp-for="Category.Name" class="col-form-label">Name</label>
                    <input asp-for="Category.Name" class="form-control">
                </div>
            </field>

            <div class="form-group row">
                <div class="col-5">
                    <partial name="_DetailsAndBackToListButton" model="Model.Id" />
                </div>
            </div>
        </form>
    </div>
</div>