@model int


<a class="btn btn-secondary text-white" asp-action="Edit" asp-route-Id="@Model">
    <i class="fas fa-user-edit"></i>
</a>
<a class="btn btn-success text-white" asp-action="Details" asp-route-Id="@Model">
    <i class="fas fa-address-card"></i>
</a>
<a class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model">
    <i class="fas fa-user-times"></i>
</a>
